/* body,
html {
  height: 100%;
} */

body,
html {
  background-image: url('https://as1.ftcdn.net/v2/jpg/04/98/86/30/1000_F_498863047_AsKBosnlyBZ2OKQwJRXewDwSyUBUdFdE.jpg');
  width: 100%;
  height: 100%;
  /* extended code */
  background-size: cover;
  background-repeat: no-repeat;
}
.postick {
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  padding: 4px;
  font-size: 85%;
  background: #fffc7f;
  -moz-box-shadow: 2px 2px 2px #999999;
  -webkit-box-shadow: 2px 2px 2px #999999;
  box-shadow: 2px 2px 2px #999999;
  position: absolute;
  display: flex;
  flex-direction: column;
}
