body,
html {
  background-image: url('https://as1.ftcdn.net/v2/jpg/04/98/86/30/1000_F_498863047_AsKBosnlyBZ2OKQwJRXewDwSyUBUdFdE.jpg');
  width: 100%;
  height: 100%;
  /* extended code */
  background-size: cover;
  background-repeat: no-repeat;
}

.postick {
  font-family: sans-serif;
  font-size: 70px;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  padding: 4px;
  font-size: 85%;
  background: #fffc7f;
  -moz-box-shadow: 2px 2px 2px #999999;
  -webkit-box-shadow: 2px 2px 2px #999999;
  box-shadow: 2px 2px 2px #999999;
  display: inline-block;
  margin: 30px;
  text-align: center;
}

.header {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .postick {
    width: 90%;
    margin: 10px 0;
  }
}
